.blogdiv {
  max-width: 1450px;
  margin: 80px auto;
  padding: 0 100px;
  @media (max-width: 1200px) {
    padding: 0 80px;
  }
  @media (max-width: 850px) {
    padding: 0 60px;
  }
  @media (max-width: 660px) {
    padding: 0 40px;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .verticalline {
      border: none;
      width: 2px;
      height: 20px;
      background-color: #4289cf;
    }
    h5 {
      color: #4289cf;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .toptext {
    font-size: 40px;
    font-weight: bold;
    color: rgb(19, 16, 16);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .cardcontainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 20px;

    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 10px;
    }
    @media (max-width: 850px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px;
    }
    @media (max-width: 660px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 10px;
    }
    .card {
      width: 300px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      .imagestyle {
        overflow: hidden;
        width: 300px;
      }
      .cardbody {
        padding: 20px;
        .icondiv {
          display: flex;
          align-items: center;
          gap: 20px;
          div {
            display: flex;
            align-items: center;
            gap: 8px;
            .singleicon {
              color: #4289cf;
            }
            p {
              color: gray;
            }
          }
        }
        h1 {
          font-size: 20px;
          font-weight: bold;
          color: rgb(26, 23, 23);
          margin-top: 10px;
        }
        p {
          color: gray;
          font-size: 14px;
          margin-top: 10px;
        }
        .bottomdiv {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
          .buttom {
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
          }
          .buttom:hover {
            color: #4289cf;
          }
          .buttomicons {
            display: flex;
            align-items: center;
            gap: 10px;
            color: gray;
            .iconstyle {
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }
        }
      }
    }
  }
}
