.maindiv {
  max-width: 1450px;
  margin: 20px auto;
  padding: 0 100px;
  @media (max-width: 950px) {
    padding: 20 20px;
    margin: 10 auto;
  }
  @media (max-width: 660px) {
    padding: 20 1px;
    margin: 10 auto;
  }
  iframe {
    border-radius: 10px;
    @media (max-width: 950px) {
      margin: 10 auto;
      height: 300px;
    }
    @media (max-width: 660px) {
      margin: 10 auto;
      height: 200px;
    }
  }
}
